# MongoDB Connection String
MONGODB_URI=mongodb+srv://rohitsjaiswar_db_user:JdPwRJ7jphgBRDLy@cluster0.99ommi7.mongodb.net/?appName=Cluster0

# JWT Secret for signing tokens
JWT_SECRET=c5c52b0dc6ade27db286d93f5e1fd99e58892b3585dd2e9e6c9abbb24ea1ce9e
